


  <header>
    <h1>{{rName.restaurant_Name}}</h1>
    <meta name="username" content={{username}}>


   <nav>
      <a href="/index">main</a>
      <a href="/restauraunts">restauraunts</a>
      <a href="/about">about</a>

    </nav>
    <h2> Currently logged in as: {{username}}</h2>

  </header>

  <main>
    <p1 data-username="<%= username ? username : '' %>"></p1>
    <section>
        
      <h3>Restaurants</h3>

      <article>
        Showing all reviews for restaurant {{rName.restaurant_Name}}
        
      </article>
    
      <article>
      
     
        <table id = "reviewTable">
          <tr id = "reviewTableHeadings">
        

            <th>Author</th>
            <th>Desc</th>
            <th>Rating</th>
            <th>Admin Options</th>
         
          </tr>
           {{#each review}}
            <tr data-value={{this.review_Id}}>
            <td>{{this.reviewer}}</td>
            <td>{{this.comments}}</td>
            <td>{{this.rating}} out of 10</td>
            <td><button onclick="deleteReviewRow({{this.review_Id}})" , class="deleteData">Delete</button></td>

            
          </tr>
          {{/each}}
        </table> 
      </article>
    </section>

    <h3 id = "ReviewEntryTitle">Review Entry Form</h3>

    <section id = "newReviewEntry", action="submit">
        <form action="">
            <fieldset>
                <legend>Write a review
                </legend>

                <div>
                  <input type="hidden" name="restaurant_Id" id="input-review_Place" value="{{rName.restaurant_Id}}">
                 
                </div>
                <div>
                    <input type="text" name="review_Name" id = "input-review_Name" required>
                    <label>Enter the name of the reviewer</label>
                </div>
                
                <div>
                    <input type="text" name="rating" id = "input-rating" required>
                    <label>Enter the rating out of 10</label>
                </div>
               
                <div>

                  <textarea name="input-comments" id="input-comments"></textarea>
                  <label>Type your comments here</label>
                </div>
                <input type="submit" value="Submit">


            </fieldset>
        </form>

    </section>
    <script src="/js/reviewManager.js"></script>
    <footer style="background-color:rgb(218, 63, 25);"> Larsen Freund, 2024</footer>

  </main>








